## 3. 파이썬의 제어문

![variable](../../img/control1.png)

---

![variable](../../img/control2.png)

### 1) 조건문

In [1]:
refrigerator = ["meat", "drinks", "eggs"]

In [2]:
if "meat" in refrigerator:
    print("cook meat")
else:
    print("doing nothing")

cook meat

In [3]:
meat = "pork"
if meat == "beef":
    print("cook beef")
elif meat == "chicken":
    print("cook chicken")
elif meat == "pork":
    print("cook pork")
else:
    print("other meat in here!")

cook pork

In [4]:
meat == "beef"

False

In [5]:
if True:
    print("cook here")
else:
    print("doing nothing")

cook here

In [6]:
beef_price = 4900
pork_price = 1000
if beef_price < 5000:
    print("beef price is lower than 5000")
    print("beef price:" + str(beef_price))
    if pork_price < 1200:
        print("pork price is lower than 1200")
        print("pork price:" + str(pork_price))
    else:
        print("pork price is higher than 1200")
        print("pork price:" + str(pork_price))
else:
    print("beef price is higher than 5000")
    print("beef price:" + str(beef_price))
    if pork_price < 1200:
        print("pork price is lower than 1200")
        print("pork price:" + str(pork_price))
    else:
        print("pork price is higher than 1200")
        print("pork price:" + str(pork_price))

beef price is lower than 5000
beef price:4900
pork price is lower than 1200
pork price:1000

In [7]:
a = "abc"
if a:
    print("a exist!")

a exist!

In [8]:
b = [1,2,3]
if b:
    print("list is exist!")

list is exist!

In [9]:
c = []
if c:
    print("list is exist!")
else:
    print("list is empty")

list is empty

In [10]:
b = [1,2,3]
if 2 in b:
    print("2 is exist!")
else:
    print("2 is not exist!")

2 is exist!

In [11]:
c = {"name": "Lee", "age": 30, "occupation": "Data Scientist"}
if "name" in c:
    print("name key is exist!")
else:
    print("name key is not exist!")

name key is exist!

----
### 2) 반복문

In [12]:
a = [1, 2, 3, 4, 5]
for number in a:
    print(number)

1
2
3
4
5

In [13]:
a = [(1,2), (3,4), (5,6)]
for (first, last) in a:
    print(first + last)

3
7
11

In [14]:
b = [1,2,3,4,5]
c = [2,1,3,5,1]
for first, last in zip(b, c):
    print(first + last)

3
3
6
9
6

In [15]:
d = {"lee": 35, 'kim': 12, "park": 81}
for name in d:
    print(d[name])

35
12
81

In [16]:
d = {"lee": [35, 90, 81], 'kim': [12, 10, 60], "park": [81, 3, 19]}
for name in d:
    for score in d[name]:
        print(name, str(score))

lee 35
lee 90
lee 81
kim 12
kim 10
kim 60
park 81
park 3
park 19

In [17]:
for i in range(10):
    if i == 3:
        continue
    if i == 5:
        break
    print(i)

0
1
2
4

In [18]:
count = 0
while count < 5:
    print(count)
    count = count + 1

0
1
2
3
4