----
## 6. 간단한 가계부 프로그램 만들기

In [6]:
class AccountBook:
    def __init__(self):
        self.total_price = 0
        self.year_price_dict = {}
        self.month_price_dict = {}
        self.day_price_dict = {}

    def write_account(self, year, month, day, price):
        self.total_price = self.total_price + price
        self.write_year_account(year, price)
        self.write_month_account(month, price)
        self.write_day_account(day, price)
            
    def write_year_account(self, year, price):
        if year in self.year_price_dict:
            self.year_price_dict[year] = self.year_price_dict[year] + price
        else:
            self.year_price_dict[year] = price
    
    def write_month_account(self, month, price):
        if month in self.month_price_dict:
            self.month_price_dict[month] = self.month_price_dict[month] + price
        else:
            self.month_price_dict[month] = price
    
    def write_day_account(self, day, price):
        if day in self.day_price_dict:
            self.day_price_dict[day] = self.day_price_dict[day] + price
        else:
            self.day_price_dict[day] = price
    
    def print_year_account(self, year):
        if year in self.year_price_dict:
            print("total", year, "year account:", self.year_price_dict[year])
        else:
            print("total", year, "year account:", 0)
    
    def print_month_account(self, month):
        if month in self.month_price_dict:
            print("total", month, "month account:", self.month_price_dict[month])
        else:
            print("total", month, "month account:", 0)
    
    def print_day_account(self, day):
        if day in self.day_price_dict:
            print("total", day, "day account:", self.day_price_dict[day])
        else:
            print("total", day, "day account:", 0)
    
    def get_account_total_price(self):
        return self.total_price

In [7]:
account_book1 = AccountBook()

In [8]:
account_book1.write_account(1992, 6, 13, 50000)
account_book1.write_account(1998, 6, 18, 15000)
account_book1.write_account(1994, 8, 11, 310000)
account_book1.write_account(1992, 9, 18, 500)
account_book1.write_account(1994, 10, 13, 21800)
account_book1.write_account(1998, 8, 21, 289100)
account_book1.write_account(2000, 6, 13, 13000)

In [9]:
account_book1.print_year_account(1994)

total 1994 year account: 331800

In [10]:
account_book1.print_year_account(1992)

total 1992 year account: 50500

In [11]:
account_book1.print_year_account(2000)

total 2000 year account: 13000

In [12]:
account_book1.print_year_account(2001)

total 2001 year account: 0

In [13]:
account_book1.print_month_account(6)

total 6 month account: 78000

In [14]:
account_book1.print_month_account(8)

total 8 month account: 599100

In [15]:
account_book1.print_day_account(13)

total 13 day account: 84800

In [16]:
print(account_book1.get_account_total_price())

699400